.to-do-list-page {
	border: 3px solid blue;
	min-height: 490px;
	min-width: 240px;
	text-align: center;
}

.done {
	background: red;
	text-decoration: line-through;
}

.to-do-list {
	align-self: center;
	border: 3px solid crimson;
	margin-top: 3%;
	max-width: 100%;
	min-height: 73%;
	min-width: 80%;
	text-align: center;
}

.to-do-list-item {
	border: 3px solid green;
	display: flex;
	min-height: 80px;
	text-align: center;
}

.to-do-list-item-text {
	align-content: center;
	align-items: center;
	background: #ccffcc;
	border: 3px solid orange;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 400px;
	min-width: 67%;
	position: relative;
	text-align: center;
	white-space: pre-line;
	word-break: break-all;
}

.to-do-list-item-buttons {
	display: flex;
	flex-direction: column;
	width: 34%;
}

input {
	text-align: center;
}

.to-do-list-item-text {
	background: #ccffcc;
}

.delete-button {
	width: 33%;
}

.change {
	height: 33.333333333333%;
	min-width: 33%;
}

.sort {
	border: 3px solid green;
	display: flex;
	justify-content: space-around;
}
