.customers-page {
	display: flex;
	height: 92%;
	justify-content: space-around;
	text-align: center;
	width: 100%;
}


.customers-list {
	border: 3px solid blue;
	margin-top: 3%;
	height: 90%;
	max-width: 900px;
	overflow-x: scroll;
	width: 85%;
}

.customers-item {
	color: black;
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.blue{
	background-color: #80bfff;
}

.customers-item-data {
	align-items: center;
	display: grid;
	grid-template-columns: 3fr 6fr 4fr;
	font-size: 1.2em;
	justify-content: space-between;
	width: 90%;
}

.customers-item-buttons {
	display: flex;
	justify-content: space-around;
}

.input-field {
	background-color: #007bff;
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.input-field-item {
	width: 25%;
}

.scale {
	font-size: 125%;
	padding: 10px;
}

select {
	margin-right: 10px;
}
