/////////////////////////////  Invoice Page  /////////////////////////////////////
.invoice-page {
	height: 92%;
	width: 100%;
}

.invoice-page-content {
	align-items: center;
	height: 100%;
	text-align: center;
	width: 100%;
}

.displayed-modal {
	background: #d9ffd9d4;
	display: flex;
	height: 92%;
	padding-left: -25%;
	padding-top: -8%;
	position: absolute;
	width: 100%;
}

.hidden-modal {
	position: absolute;
	top: -100%;
}

.invoice-buttons {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

/////////////////  Add InvoiceItems  //////////////
.add-invoice {
	background-color: white;
	height: 87%;
	margin: 2% 25% 0 25%;
	width: 50%;
}

.add-invoice-container {
	height: 100%;
	text-align: center;
	width: 100%;
}

.invoice-items-list {
	border: 3px solid orange;
	height: 75%;
}

.invoice-container-buttons {
	align-items: center;
	border: 3px solid blueviolet;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.invoice-items-list-container {
	border: 3px solid saddlebrown;
	height: 77%;
	margin: 10px 0 10px 0;
	overflow-x: scroll;
}

.select-field {
	width: 25%;
}

///////////////////  Invoice List  ///////////////////////
.invoice-list {
	display: flex;
	height: 78%;
	justify-content: center;
	width: 100%;
}

.invoice-list-container {
	border: 5px solid green;
	height: 100%;
	min-width: 520px;
	max-width: 1100px;
	overflow-x: scroll;
	width: 50%;
}

.invoice-list-row {
	align-self: center;
	background-color: black;
	color: rgba(237, 255, 255, 0.83);
	display: grid;
	font-family: "Bookman Old Style", serif;
	font-size: 20px;
	grid-template-columns: 8% 37% 15% 15% 25%;
	justify-self: center;
	min-height: 9%;
}

.invoice-list-row-item {
	align-self: center;
}

.invoice-buttons {
	align-items: center;
	display: flex;
	justify-content: space-around;
	padding: 2% 0 2% 0;
}

.invoice-item {
	align-items: center;
	background-color: cadetblue;
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	margin: 10px;
}

.invoice-item-data {
	display: flex;
	justify-content: space-between;
	width: 80%;
}


table {
	width: 100%;
}

tr {
	width: 100%;
}

th {
	background-color: black;
	color: rgba(237, 255, 255, 0.83);
	font-size: 20px;
	width: 20%;
}

.orange {
	background-color: #fcf002;
	color: #5c3297;
}

.purple {
	background-color: #5c3297;
	color: #fcf002;
}

td {
	font-family: "Bookman Old Style", sans-serif;

	font-size: 18px;
	width: 20%;
}


.cursor {
	cursor: pointer;
}

.invoice-item-field {
	align-content: center;
}


.small {
	font-size: 0.7em;
}
