.products-page {
	display: flex;
	height: 92%;
	justify-content: space-around;
	text-align: center;
	width: 100%;
}

.product-list {
	border: 3px solid blue;
	height: 90%;
	margin-top: 3%;
	min-width: 480px;
	overflow-x: scroll;
	width: 50%;
}

.product-item {
	color: black;
	display: flex;
	justify-content: space-around;
	min-width: 400px;
	padding: 10px 0 10px 0;
}

.green {
	background-color: #ccffcc;
}

.yellow {
	background-color: #fffe46;
}

.product-list-header {
	height: 35px;
	font-family: "Bookman Old Style", serif;
	color:white;
	background-color: black;
	font-size: 18px;
	display: grid;
	grid-template-columns: 1fr 5fr 2fr 2fr;
	align-self: center;
	justify-self: center;
	justify-content: center;
}

.product-list-header-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-item-data {
	align-self: center;
	display: grid;
	font-size: 1.2em;
	grid-template-columns: 1.5fr 7fr 3fr;
	justify-self: center;
	width: 80%;
}

.product-item-data-edit {
	align-self: center;
	display: grid;
	font-size: 1.2em;
	grid-template-columns: 4fr 4fr;
	justify-self: center;
	width: 80%;
}

.product-item-buttons {
	display: flex;
	justify-content: space-around;
}

.input-field {
	background-color: #007bff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}

.scale {
	font-size: 125%;
	padding: 10px;
}

.link {
	font-family: "Bookman Old Style", sans-serif;
	font-size: 20px;
	margin-top: 100px;
}

.button-without-styles {
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	width: 33%;
}

.edit-input {
	width: 85%;
}
