@import "pages/to-do-list-page";
@import "pages/invoice-page";
@import "pages/products-page";
@import "pages/customers-page";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";


html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

#root {
	height: 100%;
	width: 100%;
}

header {
	height: 100%;
	width: 100%;
}

.header {
	align-items: center;
	border: 3px solid red;
	display: flex;
	height: 8%;
	justify-content: space-around;
	width: 100%;
	min-width: 360px;
}

.header-item {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 15%;
	min-width: 120px;
}

.active{
	background-color: #40c5ff;
	color: white;
}

a:hover {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

.button-without-styles{
	background:transparent;
	border: none;
	outline: none;
	text-decoration: none;
	width: 33%;
}
